
// Bootstrap
@import 'custom';

// Variables
@import 'variables';

@import "~aos/dist/aos.css";

[v-cloak] > * { display:none; }

// Cover
html, body{ overflow-x: hidden }

.cover-image {
	height: 100vh !important;
	width: 100vw !important;
	position: relative;
}

.cover-caption {
	position: absolute;
	width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

// Navbar

.navbar {
  border-bottom: 4px solid $my-cyan;
  font-family: "Raleway", sans-serif;
	font-weight: 400;
}

.nav-item {
	&:hover .nav-link{
		color: $my-success !important
	}
}

.active-item {
	color: $my-success !important
}

.stick {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

// Title

.bar {
  width: 6em;
  height: 0.3em;
  background-color: $my-dark-gray;
}

.sec-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
	color: $my-dark-gray;
	&::before {
		display: block;
		content: "";
		height: 4rem;
		visibility: hidden;
		pointer-events: none;
	}
}

// About

.about-icon {
  width: 100%;
}

img.me-picture {
	width: 300px;
	@media screen and (max-width: 800px){
		width: 200px;
	}
  clip-path: polygon(
		50% 0%,
		83% 12%,
		100% 43%,
		94% 78%,
		68% 100%,
		32% 100%,
		6% 78%,
		0% 43%,
		17% 12%
  );
	transition: clip-path 500ms;
	&:hover{
		clip-path: polygon(
			30% 0%,
			50% 0%,
			70% 0%,
			100% 30%,
			100% 70%,
			70% 100%,
			30% 100%,
			0% 70%,
			0% 30%
  );
	}
}

.fill {
  background: $my-dark-cyan;
	height: 35px;
	& #name {
		background: $my-cyan;
		height: 100%;
		width: 30%;
		height: 35px !important;
	}
}

#percent {
	height: 100%;
	height: 35.5px !important;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Skills

.devicon-image {
  font-size: 3rem;
}

.devicon-photoshop-plain {
  color: #004e9b !important;
}

// Portfolio

.bounce-enter-active {
  animation: bounce-in 0.5s;
}

.bounce-leave-active {
  animation: bounce-in 0.3s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

video {
	filter:grayscale(50%);
}

.card-ima-blur {
	filter: blur(2px);
}

.card-body {
	transition: 1s;
	&:hover{
		cursor: pointer;
		background: rgba(black, 0.6);
		transition: background 0.5s ease-out;
	}
}

// Footer

.bg-color {
	background-color: $my-bg-color;
}

.footer-content {
	background-color: $my-footer;
}

.footer-text {
	font-size:0.8rem;
}
