
.about-icon {
  width: 100%;
}

img.me-picture {
	width: 300px;
	@media screen and (max-width: 800px){
		width: 200px;
	}
  clip-path: polygon(
		50% 0%,
		83% 12%,
		100% 43%,
		94% 78%,
		68% 100%,
		32% 100%,
		6% 78%,
		0% 43%,
		17% 12%
  );
	transition: clip-path 500ms;
	&:hover{
		clip-path: polygon(
			30% 0%,
			50% 0%,
			70% 0%,
			100% 30%,
			100% 70%,
			70% 100%,
			30% 100%,
			0% 70%,
			0% 30%
  );
	}
}

.fill {
  background: $info;
	height: 35px;
	& .name {
		background: $my-dark-cyan;
		height: 100%;
		width: 30%;
		height: 35px !important;
	}
}

.percent {
	height: 100%;
	height: 35.5px !important;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.text-percentages {
	color: #6B737B;
}