.cover-image {
	height: 100vh !important;
	width: 100vw !important;
	position: relative;
}

.cover-caption {
	position: absolute;
	width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.btn-info-cover:focus {
  outline: none !important;
  box-shadow: 0 0 0 2px #082234, 0 0 0 4px #14cbeb !important;
}


@media (min-width: 1025px) {
	.cover-image {
		height: 50vh !important;
	}

	.cover-caption {
		top: 25%;
		transform: translateY(-50%);
	}
}
