.bar {
  width: 6em;
  height: 0.3em;
  background-color: $my-dark-gray;
}

.sec-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
	color: $my-dark-gray;
	&::before {
		display: block;
		content: "";
		height: 4rem;
		visibility: hidden;
		pointer-events: none;
	}
}
